USE [privado]
GO
/****** Object:  User [uif]    Script Date: 4/02/2020 7:27:59 a. m. ******/
CREATE USER [uif] FOR LOGIN [uif] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [uif]
GO
/****** Object:  Table [dbo].[ENTIDAD]    Script Date: 4/02/2020 7:27:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENTIDAD](
	[N_COD_ENTIDAD] [int] IDENTITY(1,1) NOT NULL,
	[C_DES_RAZON] [varchar](200) NULL,
	[C_COD_RUC] [varchar](50) NULL,
	[C_USU_REGISTRO] [varchar](50) NULL,
	[D_FEC_REGISTRO] [datetime] NULL,
	[N_FL_ACTIVO] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENU]    Script Date: 4/02/2020 7:27:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENU](
	[N_COD_MENU] [int] IDENTITY(1,1) NOT NULL,
	[N_COD_PADRE] [int] NULL,
	[C_DES_NOMBRE] [varchar](50) NULL,
	[C_COD_ICON] [varchar](50) NULL,
	[C_NOM_PAGE] [varchar](50) NULL,
	[N_FL_ACTIVO] [int] NULL,
 CONSTRAINT [PK_MENU] PRIMARY KEY CLUSTERED 
(
	[N_COD_MENU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENUROL]    Script Date: 4/02/2020 7:27:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENUROL](
	[N_COD_MENU] [int] NULL,
	[N_COD_ROL] [int] NULL,
	[N_FL_ACTIVO] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERFIL]    Script Date: 4/02/2020 7:27:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERFIL](
	[N_COD_PERFIL] [int] IDENTITY(1,1) NOT NULL,
	[C_DET_NOMBRE] [varchar](100) NULL,
	[N_FL_ACTIVO] [int] NULL,
	[C_DET_DETALLE] [varchar](1000) NULL,
 CONSTRAINT [PK_PERFIL] PRIMARY KEY CLUSTERED 
(
	[N_COD_PERFIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERFILROL]    Script Date: 4/02/2020 7:27:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERFILROL](
	[N_COD_PERFIL] [int] NULL,
	[N_COD_ROL] [int] NULL,
	[N_FL_ACTIVO] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 4/02/2020 7:27:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[N_COD_ROL] [int] IDENTITY(1,1) NOT NULL,
	[C_DES_ROL] [varchar](50) NULL,
	[N_FL_ACTIVO] [int] NULL,
	[C_DET_DETALLE] [varchar](500) NULL,
 CONSTRAINT [PK_ROLES] PRIMARY KEY CLUSTERED 
(
	[N_COD_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 4/02/2020 7:27:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[N_COD_ID] [int] IDENTITY(1,1) NOT NULL,
	[C_DET_CODIGO] [varchar](100) NULL,
	[C_DET_NOMBRE] [varchar](300) NULL,
	[N_COD_PERFIL] [int] NULL,
	[N_COD_ENTIDAD] [int] NULL,
	[N_FL_ACTIVO] [int] NULL,
	[D_FEC_REGISTRO] [datetime] NULL,
	[C_USU_REGISTRO] [varchar](100) NULL,
	[C_DET_CONTRA] [varchar](500) NULL
) ON [PRIMARY]
GO
