<?xml version="1.0" encoding="UTF-8" ?>
<sqlMap namespace="MenuMap" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <alias>
    <typeAlias alias="Menu" type="SBS.UIF.BUZ.Entity.Common.Menu,SBS.UIF.BUZ.Entity" />
  </alias>
  <resultMaps>
    <resultMap id="rm_menu" class="Menu">
      <result property="Id" column="N_COD_MENU"></result>
      <result property="CodPadre" column="N_COD_PADRE"></result>
      <result property="DesNombre" column="C_DES_NOMBRE"></result>
      <result property="CodIcon" column="C_COD_ICON"></result>
      <result property="NomPage" column="C_NOM_PAGE"></result>
    </resultMap>
  </resultMaps>

  <statements>
    <select id="select_menu" resultMap="rm_menu" >
      SELECT N_COD_MENU, N_COD_PADRE, C_DES_NOMBRE, C_COD_ICON, C_NOM_PAGE FROM MENU WHERE N_FL_ACTIVO = 1
    </select>
  </statements>
</sqlMap>